/* Quiz Form */

#quiz body {
    background-color: lightblue;
}

#quiz .quiz-container {
    text-align: center;
    margin: auto;
    width: 500px;
    padding: 24px;
    background-color: white;
    margin-top: 100px;
}

#quiz .timer {
    /* Add your timer styling here */
}

#quiz .question {
    margin-bottom: 20px;
}

#quiz .option {
    display: block;
    margin-bottom: 10px;
}

#quiz .submit-button {
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 10px;
    cursor: pointer;
}

/* Login Form 
=================================*/

#login .login-dark {
    height: 1000px;
    background: #475d62 url(../../assets/img/star-sky.jpg);
    background-size: cover;
    position: relative;
}

#login .login-dark form {
    max-width: 320px;
    width: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

#login .login-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
}

#login .login-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

#login .login-dark form .btn-primary {
    background: #214a80;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
}

#login .login-dark form .btn-primary:hover,
#login .login-dark form .btn-primary:active {
    background: #214a80;
    outline: none;
}

#login .login-dark form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

#login .login-dark form .forgot:hover,
#login .login-dark form .forgot:active {
    opacity: 1;
    text-decoration: none;
}

#login .login-dark form .btn-primary:active {
    transform: translateY(1px);
}

/* Register Form 
=================================*/

#register .login-dark {
    height: 1000px;
    background: #475d62 url(../../assets/img/star-sky.jpg);
    background-size: cover;
    position: relative;
}

#register .login-dark form {
    max-width: 320px;
    width: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

#register .login-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
}

#register .login-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

#register .login-dark form .btn-primary {
    background: #214a80;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
}

#register .login-dark form .btn-primary:hover,
#register .login-dark form .btn-primary:active {
    background: #214a80;
    outline: none;
}

#register .login-dark form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

#register .login-dark form .forgot:hover,
#register .login-dark form .forgot:active {
    opacity: 1;
    text-decoration: none;
}

#register .login-dark form .btn-primary:active {
    transform: translateY(1px);
}